@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: fallback;
  src: url('/fonts/Manrope-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300 700;
  font-display: fallback;
  src: url('/fonts/FiraCode-VariableFont_wght.woff2') format('woff2');
}
